// icons
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.top-space {
	height: 10px;
	width: 100%;
	margin-bottom: 10px;
    opacity: .4;
}

#copyright {
	text-align: center;
}


#post,#post-preview {
	display: table;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	min-width: 100%;
	article {
        p {
            font-weight: 300;
        }
		text-align: left;
	}
	h1,h2,h3 {
		a {
			color: #4A5057;
		}
		a:hover {
			color: #141517;
		}
	}
    .fa {
        font-size: 0.9em;
        color: #999;
    }
    .post-tags, h6 {
        font-size: 1.1em;
    }
}


#title-links {
    font-family: 'Lato', sans-serif;
	.button-group {
		display: table;
		margin: 0 auto;
		li {
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			a {
			}
		}
		ul {

		}
	}
}


#title {
	padding-bottom: 10px;

	h1,h2 {
		font-family: 'Oswald', sans-serif;
		a {
			color: #4A5057;
		}
		a:hover {
			color: #141517;
		}
	}

    #nav-content {
        text-align: right;
    }

    .social-list {
        list-style: none;
        margin-top: 10px;
        li {
            padding-left: 5px;
            display: inline-block;
            img {
                -webkit-transition: opacity 0.25s ease-in 0s;
	            -moz-transition: opacity 0.25s ease-in 0s;
	            -o-transition: opacity 0.25s ease-in 0s;
	            transition: opacity 0.25s ease-in 0s;
                opacity: .3;
            }
            img:hover {
                opacity: 1;
            }
        }
    }
}

article {
	text-align: center;
	margin-top: 50px;
}
