// animation mixin
@mixin transition-duration($duration) {
    -webkit-transition: opacity $duration linear $duration;
    -moz-transition: opacity $duration linear 0s;
    -o-transition: opacity $duration linear 0s;
    transition: opacity $duration linear 0s;
}

@mixin color-transition($duration) {
    -webkit-transition: color $duration ease-out 0.1s;  /* Saf3.2+, Chrome */
     -moz-transition: color $duration ease-out 0.1s;  /* FF4+ */
      -ms-transition: color $duration ease-out 0.1s;  /* IE10 */
       -o-transition: color $duration ease-out 0.1s;  /* Opera 10.5+ */
          transition: color $duration ease-out 0.1s;
}

article {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 18px;
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    line-height: 42px;
}

h2,h3,h4,h5,h6 {
    margin-bottom: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 0;
}

p.meta {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

// for normal titles
/* Create a step size. */
/* This is the percentage each heading will be reduced by. */
$step-size-heading: 0.33333;
/* Amplifier value */
$amplifier-heading: 1.5;
/* The mixin */
@mixin heading-size($size) {
    font-size: $size * $step-size-heading * $amplifier-heading + em;
}
h1 {
    @include heading-size(6);
}
h2 {
    @include heading-size(5);
}
h3 {
    @include heading-size(4);
}
h4 {
    @include heading-size(3);
}
h5 {
    @include heading-size(2);
}
h6 {
    @include heading-size(1);
}

/* Create a step size. */
/* This is the percentage each heading will be reduced by. */
$step-size-heading: 0.33333;
/* Amplifier value */
$amplifier-heading: 1.1;
/* The mixin */
@mixin heading-size($size) {
    font-size: $size * $step-size-heading * $amplifier-heading + em;
}
article h1 {
    @include heading-size(6);
}
article h2 {
    @include heading-size(5);
}
article h3 {
    @include heading-size(4);
}
article h4 {
    @include heading-size(3);
}
article h5 {
    @include heading-size(2);
}
article h6 {
    @include heading-size(1);
}

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #eee;
    margin: 1em 0; 
    padding: 0; 
}

a,a:visited {
    @include color-transition(0.25s);
    color: #222;
}
a:hover {
    color: #5F7DFF;
}

a:active {
    color: #222;
}

.top-space {
	height: 10px;
	width: 100%;
	margin-bottom: 10px;
    opacity: .4;
}

#copyright {
	text-align: center;
}

p.preview {
    font-family: "Merriweather", serif;
    font-size: 18px;
    font-weight: 300;
    color: #999;
}

p.meta {
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-size: 17px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#title {
	padding-bottom: 0px;
    text-align: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
        text-transform: uppercase;
        font-family: "Open Sans Condensed";
        font-size: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 20px;
    li {
        padding-left: 5px;
        display: inline-block;
        img {
            @include transition-duration(0.35s);
            opacity: 0.6;
        }
        img:hover {
            opacity: 1.0;
        }
    }
}

// footer
/**
 * the sticky footer mixin
 **/
@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $container-selector: unquote("#container"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$container-selector} {
      padding: 0 0 $footer-height 0;
    } 
  }
  #{$footer-selector} {
    height: $footer-height; 
  }
}

/**
 * the sticky footer implementation
 **/
@include sticky-footer(150px);

#footer {
  padding-top: 15px;
  margin-top: 20px;
  background: #EEE;
  color: #999;
}
