/* app css stylesheet */

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#posts {
  margin-left: 120px;
}

#top-filler {
  background-color: #FCE135;
  height: 5px;
}

.navbar {
  background-color: #fff;
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar .navbar-collapse {
  text-align: center;
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.jumbotron {
  background-color: #fff;
  margin-top: 30px;
  padding-top: 0px;
}

.jumbotron-title {
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
}

.jumbotron-text {
  text-align: center;
}

#blogpost {
  margin-bottom: 75px;
  margin-top: 10px;
}

small {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h2 {
  padding-top: 0px;
  margin-top: 0px;
}

#headlines {
  
}

#headlines-content {
  padding: 5px 5px 5px 5px;
}
