{{ define "main" -}}
    <div class="post-meta">
        <h1>{{ .Title }}</h1>
        <h2><em>{{ .Description }}</em></h2>
        <time datetime={{ .Date.Format "2006-01-24T15:04:05Z0700" }} class="date">Published: {{ .Date.Format "Monday, January 2 2006" }}</time>
    </div>
    <div class="post-content">
        {{ .Content }}
    </div>
    <div class="fin">
        EOF
    </div>
    {{ if .Page.Store.Get "hasMermaid" }}
      <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
      <script>
        mermaid.initialize({ startOnLoad: true });
      </script>
    {{ end }}
{{- end }}
