<head>
    <meta charset="utf-8">
     <base href="/">
    <title> {{ .Title }} : petermalmgren.com </title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
    <script src="/app.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="http://overpass-30e2.kxcdn.com/overpass.css">
    <link rel="stylesheet" href="http://overpass-30e2.kxcdn.com/overpass-mono.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
