<head>
    <meta charset="utf-8">
     <base href="/">
    <title>Peter Malmgren | {{ .Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
    <script src="/app.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="{{ .Description }}"/>
    <meta name="robots" content="index" />

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/syntax.css">
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="NPAWCBGR" defer></script>
    <!-- / Fathom -->
</head>
