<head>
    <meta charset="utf-8">
     <base href="/">
    <title>Peter Malmgren | {{ .Title }} </title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
    <script src="/app.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="{{ .Description }}"/>
    <meta name="robots" content="index" />

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/syntax.css">
    <link rel="stylesheet" href="https://overpass-30e2.kxcdn.com/overpass.css">
    <link rel="stylesheet" href="https://overpass-30e2.kxcdn.com/overpass-mono.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142702110-1"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-142702110-1');
    </script>
</head>
