<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
  <article>
  <main>
    <div class="intro">
      <div class="text">
        <h2>
        Hi, I'm Peter.
        </h2>
        <p>
        I'm a software engineer and writer. This is my blog -- a collection of posts, thoughts, and reflections that I've written over the years.
        </p>
        <p>
        I'm currently building a <a href="/notifications-suck/">Slack app</a> to help make communicating at work less painful.
        </p>
        <p>
        If you want to learn more about my blog or get in touch, you can do that <a href="/about">right here</a>.
        </p>
      </div>
      <div class="photo">
        <img src="/me.png" style="width: 250px" alt="A picture of Peter Malmgren" />
      </div>
    </div>
    <div class="content">
      <div class="post-header">
        <h2>Latest Posts</h2>
      </div>
      <ul class="post-list">
      {{ range first 5 .Pages }}
        <li class="post">
          <a href="{{ .Permalink }}">
            <div class="title">
              <h3>{{ .Title }}</h3>
            </div>
            <div class="date">
              <p>{{ .Date.Format "Jan 02 2006" }}</p>
            </div>
          </a>
        </li>
      {{ end }}
      </ul>
      {{ range $taxonomyname, $posts := .Site.Taxonomies.categories }}
      <div class="post-header">
        <h2>{{ humanize $taxonomyname }}</h2>
      </div>
      <ul class="post-list">
      {{ range $posts }}
        <li class="post">
          <a href="{{ .Permalink }}">
            <div class="title">
              <h3>{{ .Title }}</h3>
            </div>
            <div class="date">
              <p>{{ .Date.Format "Jan 02 2006" }}</p>
            </div>
          </a>
        </li>
      {{ end }}
      </ul>
      {{ end }}
    </div>
  </main>
    {{- partial "footer.html" . -}}
  </article>
  </body>
</html>
