<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
		<article>
        {{- partial "header.html" . -}}
		<main>
        <div class="content">
            <ul class="post-list">
            {{ range .Pages }}
                <li class="post">
                    <div class="date">
                        <p>{{ .Date.Format "Monday, January 2 2006" }}</p>
                    </div>
                    <div class="title">
                        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                    </div>
                </li>
            {{ end }}
            </ul>
		</div>
		</main>
        {{- partial "footer.html" . -}}
		</article>
    </body>
</html>
