---
layout: default
---
<div class="row">
	<div class="large-12 columns" role="content">
		<div id="post">
			<article>
				<h2>{{ page.title }}</h2>
				<h6>
				{% assign d = page.date | date: "%-d" %}
				{{ page.date | date: "%B" }} 
				{% case d %}
				  {% when '1' or '21' or '31' %}{{ d }}st,
				  {% when '2' or '22' %}{{ d }}nd,
				  {% when '3' or '23' %}{{ d }}rd,
				  {% else %}{{ d }}th,
				  {% endcase %}
				{{ page.date | date: "%Y" }}
				</h6>
				{{ page.content }}
			</article>
		</div>
	</div>
</div>