---
layout: default
---
<div class="row">
	<div class="large-12 columns" role="content">
		<div id="post">
      <div class="large-3 columns" id="post-info">
        <h6>
          <span class="fa fa-calendar"></span> 
          {% assign d = page.date | date: "%-d" %}
          {{ page.date | date: "%B" }} 
          {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}st,
            {% when '2' or '22' %}{{ d }}nd,
            {% when '3' or '23' %}{{ d }}rd,
            {% else %}{{ d }}th,
            {% endcase %}
          {{ page.date | date: "%Y" }}
        </h6>
        <div id="page-tags">
          {% if page.tags.size > 0 %}
            <span class="fa fa-tags"></span>
          {% endif %}
          {% for tag in page.tags %}
            {{ tag }}
          {% endfor %}
        </div>
      </div>
      <div class="large-9 columns" id="post-content">
        <article>
          {{ content }}
         </article>
      </div>
		</div>
	</div>
</div>

{% if page.comments %}
<div class="row">
	<div class="large-10 large-centered columns">
	  <div id="disqus_thread"></div>
	  <script type="text/javascript">
	      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	      var disqus_shortname = 'ptmalmgren'; // required: replace example with your forum shortname

	      /* * * DON'T EDIT BELOW THIS LINE * * */
	      (function() {
	          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	      })();
	  </script>
	  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	 
	  <hr/>
	</div>
</div>
{% endif %}
